* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

body {
  background: url(../images/pattern-background-desktop.svg);
  background-color: #e0e8ff;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Red Hat Display", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15em 0;
  position: relative;
}

ul li {
  list-style: none;
}

.container {
  width: 350px;
  height: auto;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  text-align: center;
  -webkit-animation: topToBottom 1.5s ease-out;
          animation: topToBottom 1.5s ease-out;
}

.container #hero-image {
  width: 100%;
}

.container .details {
  padding: 6em;
}

.container .details ul li:first-of-type {
  font-size: 2.6rem;
  font-weight: 900;
  color: #1f2f56;
  margin-bottom: 0.6em;
}

.container .details ul li:nth-of-type(2) {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #7280a7;
  width: 270px;
}

.container .details ul li:nth-of-type(3) .plan {
  margin: 4em 0;
  padding: 2.5em 3em;
  border-radius: 1em;
  background-color: #f5f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .details ul li:nth-of-type(3) .plan p,
.container .details ul li:nth-of-type(3) .plan #currentPrice {
  font-size: 1.6rem;
}

.container .details ul li:nth-of-type(3) .plan p {
  font-weight: 900;
  color: #1f2f56;
}

.container .details ul li:nth-of-type(3) .plan #currentPrice {
  display: block;
  margin-top: 0.2em;
  color: #7280a7;
}

.container .details ul li:nth-of-type(3) .plan #changePlan-btn {
  font-size: 1.4rem;
  font-weight: 900;
  text-decoration: underline;
  cursor: pointer;
  color: #3829e0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .details ul li:nth-of-type(3) .plan #changePlan-btn:hover {
  color: #665cd6;
  text-decoration: none;
}

.container .details ul li:nth-of-type(4) button {
  font-size: 1.4rem;
  font-weight: 900;
  background-color: #3829e0;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 3.3em;
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 10px 20px rgba(56, 41, 224, 0.486);
          box-shadow: 0px 10px 20px rgba(56, 41, 224, 0.486);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .details ul li:nth-of-type(4) button:hover {
  background-color: #665cd6;
  -webkit-transform: translateY(-2.5px);
          transform: translateY(-2.5px);
}

.container .details ul li:last-of-type #cancelOrder-btn {
  font-size: 1.4rem;
  color: #7280a7;
  font-weight: 900;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .details ul li:last-of-type #cancelOrder-btn:hover {
  color: #1f2f56;
}

@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  70% {
    opacity: 0.8;
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes topToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  70% {
    opacity: 0.8;
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.attribution {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1319px) {
  .attribution {
    top: 720px;
    left: 50%;
  }
}
/*# sourceMappingURL=style.css.map */